<div class="container" style="border-bottom: dashed black 2px; margin-bottom: 16px">
  <h1>
    Gravatar Driven Weather Ugly Beta:
  </h1>
  <p>The base idea for this PoC is having a gravatar who's appearance is driven from weather data fetched from an API.&nbsp;</p>
  <p>I started out over-engineering it and quickly had to dumb it down. The only nice thing from that rabbit hole is that you can see my original design for it to be end to end with profiles and persistent settings.....I dove too deep for a 3 hour mock.&nbsp;</p>
  <p>I'll summarize where everything landed:</p>
  <p>Big Picture:&nbsp;</p>
  <ul>
    <li>With Mediavo's primary business being driven on extensions, I'm assuming a huge value of the product is the understanding of the customer. This page aims to leverage advertising profile properties and inform and enrich the page with that info for the user.</li>
    <li>A weather dashboard is above all things a tool. A specific use case pointed out was displaying this on "new page" click in chrome. While this is super ugly, it does cut out a lot of unnecessary info from the API. "New page" is something glanced at. An avatar wearing clothes for the temperature or doing an activity weather-appropriate is definitely eye-catching and informative.</li>
    <li>There's advertising implications too. (Absolutely didn't have time to implement it....but...) For example, a customer we know has a job in the city, it's morning, and it's colder than normal for her area. We might use that info to show her gravatar bundled up getting a coffee at one of our advertiser's shops.&nbsp;</li>
    <li>The goal was to have a gravatar wizard and persist that to firestore and have a preview tool. I started reaching over the recommended 2 hours....by an hour...and decided to cut it down. It's mostly pushed all together in the wizard component, but there's decent separation of service logic and an infrastructure made tot persist all that info.&nbsp;</li>
    <li>Currently, there are only tool rules implemented, but I'm limited by time and what the gravatar asset API has to offer.&nbsp;</li>
  </ul>
  <p>&nbsp;</p>
  <p>Thanks for taking a look at it! The source code should be linked in submission.&nbsp;</p>
</div>


<router-outlet></router-outlet>
